.morbid {
	width: auto;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	transition: max-width 2s linear;
}
p:hover + .morbid {
	max-width: 100%;
}

@keyframes slideInFromLeft {
	0% {
		max-width: 0%;
	}
	100% {
		max-width: 100%;
	}
}

.slideinleft {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation: 3s ease-in 0s 1 slideInFromLeft;
	display: block;
	font-size: 1.25rem /* 20px */;
	line-height: 1.75rem /* 28px */;
	font-weight: 400;
	--tw-text-opacity: 1;
	color: #d4a373;
	margin-top: 1rem;
}
